h2 {
  padding: 10px;
  color: white;
  border-radius: 10px;
  transition: background 0.3s;
}

h2:hover {
  background: rgba($color: #000000, $alpha: 0.1);
  cursor: pointer;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: white;
  transition: background 0.3s;
}

button:hover {
  background: rgba($color: #000000, $alpha: 0.1);
  cursor: pointer;
}

img {
  pointer-events: none;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
