@import '@/assets/variables';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 18px/1.5 'roboto', sans-serif;
  color: $font-color;
  background: $background;
}

#root {
  height: 100vh;
  display: flex;
}
